.section_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #26272b;
    border-bottom: 1px solid #26272b;
    margin: 5px 5px;
  }
  
  .section_card{
    display: flex;
    background-color: #d6cece13;
    border: 1px solid rgba(37, 36, 36, 0.104);
    border-radius: 5px;
  }
  
  .section_card:hover{
    background-color: #d6cece37;
  }
  
  .section_card .card_img{
    flex: 1 0 30%;
  }
  
  .section_card .card_body{
    flex: 1 0 70%;
  }
  .section_card .card_body a,p{
    text-decoration: none;  
  }
  
  
  
  